*{
    margin:0px;
    padding:0px;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    
    /* background-image: linear-gradient(#7800f0, #040218); */
background-color: #0a192f;
}

header{
    height:50px;
    position: fixed;
    /* background-color: rgb(11, 116, 11); */
    display:flex;
    top:0;left:0;right:0;
    padding:0px 5%;
    justify-content: space-between;
    align-items: center;
    z-index:1000;
    background-color: #0a192f;
    
}
.kunal{
    font-size:25px;
    font-weight: bolder;
    color:#64ffda;
    font-family: 'Gideon Roman',cursive,"Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}
.navbar{
    height:23px;
}
header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float:left;
}
header .navbar ul li a{
    font-size: 20px;
    padding:20px;
    display:block;
    color:#ccd6f6;
}
header .navbar ul li a:hover{
    /* background:#8b3f9f; */
    color:#64ffda;
}
header .navbar ul li ul{
background: #fff;
width:200px;
position:absolute;
display:none;
}
header .navbar ul li ul li{
    /* color:black; */
    width:100%
}
header .navbar ul li:hover>ul{
    display:initial;
    /* background-color:#64ffda;; */
    background-color:#ccd6f6;
    width:auto
  
}
header .navbar ul li ul li a{
    color:black;
}
header .navbar ul li ul li:hover>a{
    color:darkblue;
}
main{
height:calc(100px - 100% - 100%);
padding:194px;
    
}

footer{
    height:100%;
    margin-top:194px;
    color:#ccd6f6;
    text-align: center;
    font-size: 20px;
}

footer .p:hover{
    color:#64ffda;
    cursor: pointer;
}
.wrapper{
    display:inline-flex;
}
.wrapper .static-text{
    font-size:38px;
    color:#64ffda;
    font-weight: 300px;
    font-family:"Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif
}
.wrapper .dynamic-text{
margin-left:15px;
margin-top:40px;
}
.dynamic-text{
    list-style: none;
    font-size:90px;
    color:#ccd6f6;
}
.dynamic-text li span{

    position:relative;
}
.dynamic-text li span::after{
content:"";
position:absolute;
left:0;
height:100%;
width:100%;
background-color: #0a192f;
border-left:2px solid #64ffda;
animation:typing 1.45s  1;
left:100%; 
/* REVIEW IF I NEED THIS! */
}
.link{
    color:#a8b2d1;
    font-size: 25px;
    margin-left:123px ;
}
.link a{
color:#64ffda;
}
.text{
    color:#a8b2d1;
    font-size: 25px;
    margin-left:123px;
    margin-top:26px;
    
}
@keyframes typing {
        from {
    left:0%;}
 to{
        left:100%;
    }
}
.svg{
    margin: 100px 0px 23px;
   height:5px;
    display:inline-flex;
    flex-direction: column;
border-radius: 50%;

}
.navbar  .resume-button{
    color:#ccd6f6;
    
    font-size: 20px;
    border:2px solid #64ffda;
}
.resume-button:hover{
    color:#64ffda;
    background-color: rgba(100,255,218,0.1);
    animation:shake .25s;
}

@keyframes shake {
    10%{transform:rotate(15deg);}
    20%{transform:rotate(-15deg);}
    30%{transform:rotate(15deg);}
    40%{transform:rotate(-15deg);}}
    .svg a:hover{
        animation:shake .25s;
    }
    